<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DET SBK NFT </title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

<script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>

<script src="js/bootstrap.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->

    <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div id="navbar" class="collapse navbar-collapse">

          </div>
        </div>
    </nav>
    <br>


</div>

  <div>
    <center>
    <h1> Welcome to <i> <strong> DET SBK </strong></i></h1> 
    <br>
       <p>your Community of professionals of the future</p>

    <img src=" NFTCommunityPros.png">
    <br>
    <h3> Where your stats are available on the Blockchain</h3>
    <br>
    <br>
    <br>
   </center>
    <div class="container">
      <p class="banner" > <%= msg %>
      </p> 
        <form id = "myForm" class = "col-sm-2 mb-3  form form-check" method = "POST" action = "/signup">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name ="email" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name ="password">
            <p>
            </p> 
        
            <button type="submit" class="btn btn-primary"><strong>Signup</strong></button>
        </form>

        <form id = "myForm2" class = "col-sm-2 mb-3  form form-check" method = "POST" action = "/login">
            <label for="exampleInputEmail2" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail2" aria-describedby="emailHelp" name ="email" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword2" name ="password">
            <p>
            </p> 
        
            <button type="submit" class="btn btn-primary"><strong>Login</strong></button>
        </form>
    </div>  
 
</div>

</body>
</html>
