<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DET SBK NFT</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

<script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>

<script src="js/bootstrap.js"></script>

</head>
<body>
<div class="jumbotron jumbotron-main"> <!--was jumbotron-sub -->

    <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div id="navbar" class="collapse navbar-collapse">

          </div>
        </div>
    </nav>
    <br>
</div>
<div>

   <form class = "col-sm-2 mb-3  form form-check" method = "POST" action = "/search">
      <label class="form-label">Fulltext Search of Employee Profile</label>
      <input  type="text" class="form-control"  name ="searchValue" required>
      <br>
      <button type="submit" class="btn btn-primary"><strong>Search</strong></button>
  </form>
</div>
    <table style = "margin-left: auto; margin-right: auto"> 	
       <thead class = "tr">
          <tr>
             <th class = "th1">Employee Token</th>
             <th class = "th2">Name</th>
             <th class = "th3">Discription</th>
             <th class = "th4">Attributes</th>
          </tr>
       </thead>
       <tbody class="data-output" id="tbody">
          <!-- Prodcuts from javascript file in here. -->
       </tbody>
    </table>
 </body>
 </html> 
 <script> 
          //Create Table Data
let tbody = document.getElementById("tbody")
let url = '<%- data %>'
console.log('Fetch data from this API ', url)

// fetch ALL function 

fetch(url)
    .then(res => res.json())
    .then(json => {
        json.map(data => {
            console.log('This is the data received ', data)
            tbody.append(td_fun(data));
        })
    })
    .catch(err => console.error('The API Fetch produced an error:' + err));

// create td
function td_fun({image, name, description, attributes}){
    let td = document.createElement('tr');
    td.innerHTML = `
    <td class = "td"><img src = "${image}"; class = "img"></td>
            <td class = "td">${name}> </td>
            <td class = "td">${description}</td>
            <td class = "td">${attributes}</td>
    `;
    return td;
}

/*
let rawData = '<%- data %>'
console.log('The NFT Collection received ', rawData)
//sessionStorage.setItem('NFTCollection', JSON.stringify(rawData))
//let eachEntry = sessionStorage.getItem('NFTCollection').split(/]},/) //REGEX to locate every point with "]},"

let eachEntry = rawData.split(/]},/) //REGEX to locate every point with "]},"

let myObj 
let output = "";
      for(let i=0; i<=19; i++){
       // let eachEntry = sessionStorage.getItem(NFTCollection[i])
        console.log(`Type of Entry ${i} from rawData `, typeof(eachEntry[i]))
        console.log(`Entry ${i} from rawData `, eachEntry[i])
        if(i==0){
        eachEntry[i] = eachEntry[i].replace('[',"") + ']}'   //Remove first character "[" 
        //eachEntry[i] = eachEntry[i] + ']}]'
        }
        else if(i == 19) { 
           // eachEntry[i] = '[' + eachEntry[i]
           eachEntry[i] = eachEntry[i].slice(0,-1) //Remove last character "]"
        }
        else{
            eachEntry[i] = eachEntry[i] + ']}'
        }
        console.log(`Type of Entry ${i} from rawData 2 `, typeof(eachEntry[i]))
        console.log(`Entry ${i} from rawData 2 `, eachEntry[i])

        myObj = JSON.parse(eachEntry[i])
        console.log(`Type of  myObj `, typeof(myObj))
        console.log(`Entry ${i} in myObj `, myObj.name)

         output += `
         <tr>
            <td class = "td"><img src = "${myObj.image}"; class = "img"></td>
            <td class = "td">${myObj.name}> </td>
            <td class = "td">${myObj.description}</td>
            <td class = "td">${myObj.attributes.trait_type}</td>
         </tr>
      `;
      }

      document.querySelector(".data-output").innerHTML = output;
*/
 </script>