.btn-primary{
	background: rgb(15, 15, 15); /*#313461;*/
	border-color: rgb(247, 202, 5);
	border-width: 3px;
}


.jumbotron{
	/*background: #333 url('../img/teachlearncrossgreen.jpg') 100% 100%;*/
	background: rgb(15, 15, 15);
	background-blend-mode: difference;
	color: 000;  /*lightyellow*/
	text-align: center;
	border-bottom: 5px rgb(247, 202, 5) solid; /* #f4f4f4 solid; */  
}

.jumbotron-main{
	padding: 0px 10px 40px 60px;
}

.jumbotron-main h1{
	margin-top:60px;
	margin-bottom:30px;
}

.jumbotron p.lead{
	font-size:25px;
	margin-bottom:60px;
}

.jumbotron-sub{
	padding: 0 60px 40px 60px;
}



 .navbar a:hover{
	background: none !important;
	/*color: darkgreen;*/
	border-bottom: yellowgreen 3px solid;
	margin-bottom:0;
}

.box{
	text-align: center;
}

.box .glyphicon{
	font-size:50px;
}
.tr{
	font-size:larger;
	border-style: solid;
	background-color:rgb(247, 202, 5);

}
.th1{
	padding: 0 20px 0px 40px;
}
.th2{
	padding: 0 0px 0px 50px;
}
.th3{
	padding: 0 0 0px 110px;
}
.th4{
	padding: 0 30px 0px 40px;
}

.td{
	font-size:small;
    padding: 5px 0px 0px 45px;
	border-style: ridge;
}
.img{
	width: 50px; 
	height: 50px;
	margin: 5px 0px 0px 20px;

}
.banner{
	background-color: rgb(239, 243, 8); 
	font-size: larger; 
	margin: 0 760px 0 0px; 
	padding-left: 133px;
	font-size: large;
	font-weight: bold;

}
